<script type="application/javascript">
    document.addEventListener("DOMContentLoaded", () => {
        const apiUrl = 'http://127.0.0.1:5000/';
        const hiddenClass = 'hidden';

        const getById = (id) => {
            return document.getElementById(id);
        };

        function getRandomColor() {
            let letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        const $inputDiv = getById('inputDiv');
        const $displayDiv = getById('displayDiv');

        const $firstTextArea = getById('firstText');
        const $secondTextArea = getById('secondText');

        const $firstTextDiv = getById('firstTextDisplay');
        const $secondTextDiv = getById('secondTextDisplay');

        const $compareTextsBtn = getById('compareTextsBtn');
        const $cleanUpBtn = getById('cleanUpBtn');


        const hideInput = () => {
            $inputDiv.classList.add(hiddenClass);
        };

        const hideDisplay = () => {
            $displayDiv.classList.add(hiddenClass);
        };

        const fillFirstDisplay = (text) => {
            $firstTextDiv.innerHTML = text;
        };

        const fillSecondDisplay = (text) => {
            $secondTextDiv.innerHTML = text;
        };


        const showInput = () => {
            $inputDiv.classList.remove(hiddenClass);
        };

        const showDisplay = () => {
            $displayDiv.classList.remove(hiddenClass);
        };


        const getFirstText = () => {
            return $firstTextArea.value;
        };

        const getSecondText = () => {
            return $secondTextArea.value;
        };

        const cleanInputs = () => {
            $firstTextArea.value = '';
            $secondTextArea.value = '';
        }


        const cleanDisplayDivs = () => {
            $firstTextDiv.innerHTML = '';
            $secondTextDiv.innerHTML = '';
        }

        const displayMarkedText = (firstCommonList, secondCommonList) => {
            for (let idx = 0; idx < firstCommonList.length; idx++) {
                let color = getRandomColor();

                let [firstStartPos, firstEndPos] = firstCommonList[idx];
                let [secondStartPos, secondEndPos] = secondCommonList[idx];

                let firstDisplayDivHTML = $firstTextDiv.innerHTML;
                let secondDisplayDivHTML = $secondTextDiv.innerHTML;

                let firstTextFragment = getFirstText().substr(firstStartPos, firstEndPos - firstStartPos);
                let secondTextFragment = getSecondText().substr(secondStartPos, secondEndPos - secondStartPos);

                $firstTextDiv.innerHTML = firstDisplayDivHTML.replace(
                    firstTextFragment,
                    `<span style="color: ${color}">${firstTextFragment}</span>`
                );
                $secondTextDiv.innerHTML = secondDisplayDivHTML.replace(
                    secondTextFragment,
                    `<span style="color: ${color}">${secondTextFragment}</span>`
                );
            }
        };

        const compareTexts = () => {
            fetch(apiUrl, {
                method: 'POST',
                body: JSON.stringify({
                    firstText: getFirstText(),
                    secondText: getSecondText()
                })
            })
                .then(res => res.json())
                .then(data => {
                    let {firstCommon, secondCommon} = data;
                    hideInput();
                    fillFirstDisplay(getFirstText());
                    fillSecondDisplay(getSecondText());
                    displayMarkedText(firstCommon, secondCommon);
                    showDisplay();
                })
        };

        $compareTextsBtn.onclick = () => {
            compareTexts();
        };

        $cleanUpBtn.onclick = () => {
            cleanInputs();
            cleanDisplayDivs();
            hideDisplay();
            showInput();
        };
    });
</script>
<body>
<div id="inputDiv">
    <textarea class="textarea" id="firstText"></textarea>
    <textarea class="textarea" id="secondText"></textarea>
</div>
<div id="displayDiv" class="hidden">
    <div class="textarea" id="firstTextDisplay"></div>
    <div class="textarea" id="secondTextDisplay"></div>
</div>
<div class="row">
    <button id="compareTextsBtn" class="btn">Compare</button>
    <br>
    <button id="cleanUpBtn" class="btn">Type new text</button>
</div>
</body>
<style>
    .row {
        float: left;
        width: 100%;
    }

    .textarea {
        float: left;
        position: Relative;
        display: inline;
        height: 60vh;
        width: 40vh;
        font-size: 16px;
        border: 1px solid #000000;
        border-radius: 1vh;
    }

    .btn {
        display: table-row;
        height: 5vh;
        width: 80vh;
        background-color: #0b93d5;
    }

    .hidden {
        display: none;
    }
</style>
